# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints
clrs_env/
.python-version

# Editors
.idea
.vscode

# HPC stuff
slurm_logs/
slurm_scripts/

dissertation/
results/